# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Ignore everything inside models/
models/*

# But keep the folder itself
!models/

# And optionally keep an empty placeholder (so Git tracks the folder)
!models/.gitkeep
