# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Ignore everything inside models/
models/*

# Keep the folder itself
!models/

# Keep an empty placeholder file (optional)
!models/.gitkeep